.reruired {
    color: red;
}

.ten-pixel-padding {
    padding-left: 10px
}

.error-message {
    color: red;
    font-size: 12px;
}

div#content {
    border: 1px solid grey;
    padding-bottom: 15px;
    padding-top: 20px;
    width: 380px;
    margin: 0 auto;
    margin-top: 130px
}

fieldset {
    width: 86%;
    margin: 0 auto;
}

#logo {
    padding-left: 37%
}

input[type=text], input[type=password] {
    width: 90%
}

#content a {
    text-decoration: none;
    font-size: .9em;
    float: right;
}

#content a:hover {
    text-decoration: underline;
}